!! Transparency (0-1):
st.alpha: 0.80

!! Set a default font and font size as below:
st.font: UbuntuMono\ Nerd\ Font:pixelsize=16:antialias=true:autohint=true;
! st.font: Inconsolata\ for\ Powerline:pixelsize=16:antialias=true:autohint=true;

! st.termname: st-256color
! st.borderpx: 2

!! dmenu font and colors
dmenu.font: UbuntuMono\ Nerd\ Font:size=10
dmenu.background: #222222
dmenu.foreground: #bbbbbb
dmenu.selbackground: #458588
dmenu.selforeground: #eeeeee

!! Set the background, foreground and cursor colors as below:
*.background: #282828
*.foreground: white
*.cursorColor: white

/* !! gruvbox: */
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2

